@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
}

header > .header-main {
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  height: 100%;
  position: relative;
  padding: 0 20px;
  height: 600px;
}

header > .header-main > video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
header > .header-main > .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}
header > .header-main > .header-content > h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 75px;
  font-weight: 400;
  margin-bottom: 10px;
}
header > .header-main > .header-content > h2,
header > .header-main > .header-content > h1 {
  color: white;
  margin: 0 0 20px 0;
}
header > .header-main > .header-content > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 300;
}

.principal-button {
  border: 2px solid #3bcf93;
  padding: 2px 20px;
  border-radius: 10px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}

.principal-button:hover {
  background-color: #3bcf93;
}

.nav-top {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-top > .phone > a {
  display: flex;
}

.nav-top > .phone > a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-top > .phone > a > p {
  margin-left: 10px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.nav-top > .phone > a > img,
.nav-top > .socialmedia > .social-icon > img {
  width: 30px;
  height: 30px;
}

.socialmedia > .social-icon {
  margin-left: 15px;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.nav-dark-theme {
  background-color: black;
}
nav > ul,
.foot-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a,
.foot-nav a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}
nav > .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

nav > .logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subnav {
  display: none;
  position: absolute;
  padding: 0;
}

.navbar:hover > .navbar-item:hover > .subnav,
.subnav:hover {
  display: block;
  top: 100%;
  left: 0;
  animation: fadeIn 0.5s;
  background-color: white;
}

.subnav-item {
  list-style-type: none;
  padding: 10px 20px;
  transition: 0.5s;
  height: 100%;
}
.subnav-item > a {
  color: #1f1f1f;
  font-size: 18px;
  transition: 0.5s;
}

.subnav-item:hover {
  background-color: #1f1f1f;
}
.subnav-item:hover > a {
  color: white;
}
.main > .short-descriptions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > .short-descriptions > .short-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  height: 200px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.main > .short-descriptions > .short-description > h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.main > .short-descriptions > .short-description > a {
  font-size: 20px;
}

.main > .short-descriptions > .short-description:nth-child(odd) {
  background-color: #3bcf93;
}

.main > .short-descriptions > .short-description:nth-child(even) {
  background-color: #1f1f1f;
}

.short-about-us {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-about-us > .sau-title > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.short-about-us > .sau-title > p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding: 0 200px;
}

.short-about-us > .sau-examples {
  display: flex;
}
.short-about-us > .sau-examples > .sau-example {
  padding: 25px;
}

.short-about-us > .sau-examples > .sau-example > img {
  width: 300px;
  height: auto;
}

.short-about-us > .sau-examples > .sau-example > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.personal-change {
  background-image: url(../assets/images/personal-change-bg.png);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 250px;
  height: 600px;
}

.personal-change > h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
}

.personal-change > img {
  margin-bottom: 15px;
}

.our-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.our-values > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.our-values > .values {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
}
.our-values > .values > .value > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-align: center;
}

.our-values > .values > .value {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 15px;
}

footer > .foot-logo,
footer > .foot-nav,
footer > .foot-donate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

footer > .foot-nav,
footer > .foot-donate {
  border-left: 3px solid white;
  height: 100%;
}

footer > .foot-nav {
  font-size: 50px;
}

footer > .foot-donate > .foot-donate-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > .foot-donate > .foot-donate-content > img {
  width: 110px;
  height: auto;
}

footer > .foot-donate > .foot-donate-content > h3 {
  width: 150px;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 15px;
  text-align: center;
  font-weight: 300;
}
footer > .foot-logo > img {
  width: 150px;
  height: auto;
}
footer > .foot-logo > h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

footer > .foot-donate > .foot-donate-content {
  margin-bottom: 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, +30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 768px) {
  #mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.35s ease-in-out;
    background-color: #000;
  }

  #mobile-nav .navbar-title {
    height: 33px;
  }

  #mobile-nav .navbar-title,
  #mobile-nav .navbar-title .logo-nav {
    display: flex;
    align-items: center;
  }

  #mobile-nav .navbar-title .toggler-wrapper {
    margin-right: 20px;
    margin-bottom: -3px;
  }

  #mobile-nav .navbar-title .toggler-wrapper svg {
    fill: #fff;
    stroke: #fff;
  }

  #mobile-nav .navbar-title img {
    margin-right: 10px;
    max-width: 30px;
    height: auto;
  }

  #mobile-nav > .navbar,
  #mobile-nav > .navbar ul {
    display: block;
  }

  #mobile-nav .navbar {
    height: calc(100vh - 33px);
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s ease;
    padding: 0;
  }

  #mobile-nav .navbar .navbar-item {
    justify-content: left;
    padding: 5px 0;
    display: block;
  }

  #mobile-nav .navbar .navbar-item .navbar-link {
    width: 100%;
    display: block;
    text-align: left;
  }

  #mobile-nav.visible .navbar {
    max-height: 100vh;
  }

  #mobile-nav .subnav {
    position: initial;
    display: block;
  }

  #mobile-nav .navbar .subnav {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s ease;
  }

  #mobile-nav .navbar > .navbar-item > .navbar-link.visible ~ .subnav {
    max-height: 100vh;
  }

  #mobile-nav .navbar:hover > .navbar-item:hover > .subnav,
  #mobile-nav .subnav:hover {
    background: transparent;
    animation: none;
  }
}
